<% @categories.each do |c| %>
	<li><%= link_to c.category_name, excerpt_with_category_path(id: c.id) %></li>
<% end %>

<div id="show_excerpt">
</div>

<%= link_to "Surprise Me!", select_excerpt_path, remote: true, id: "select_excerpt" %>